.Search{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 5rem;
    gap: 0rem;
    background: white;
    height: 5.5rem;
    width: 63rem;
    border-radius: 0.5rem;
    
}
.SearchInput{
    display: flex;
    flex-direction: row;
    padding: 1.3rem;
    width: 28rem;
    gap: 2rem;
    background: #eff3f2;
    border-radius: 0.5rem;
    margin-left: 1.7rem;
}

::placeholder{
    font-size: 15px;
    color: black ;
}

.SearchInput span{
    width: 20px;
    height: 7px;
    margin-bottom:16px;
}

.SearchInput svg{
    width: 20px;
    justify-self: center;
    align-self: center;
   
}

.SearchInput input{
    border: none;
    outline: none;
    width: 100%;
    background: none;
    height: 24px;
    font-size: 15px;
    margin-right:6px;
    width:28rem;
    float: left;
    margin-right: 15px;
    
}

.Dropdown-Search{
    display: flex;
    flex-direction: row;
    background: #eff3f2;
    gap: 1.5rem;
    margin: 1.4rem;
    padding: 1.3rem;
    border-radius: 0.5rem;
    width: 21.5rem;
    margin-right: 30px;
    
}



.dropdown>select{
    height: 1.6rem;
    width: 17rem;
    border:0;
    background: 0;
    outline:0;
    cursor: pointer;
    transition: all 300ms ease;
}

select option{
    font-size: 20px;
    padding:25px;
    cursor: pointer;
    margin-top: 1rem;
}

.dropdown-select.opt{
    cursor: pointer;
}

.dropdown select{
    font-size: 16px;
}


.button-click{
    display: flex;
    flex-direction: row;
    background: #00A7AC;
    padding:1rem;
    border-radius: 0.5rem;
    cursor: pointer;
    color: white;
    gap: 5px;
    width: 7rem;  
    

}

.button-click>button{
    background: none;
    outline: 0;
    border: 0;
    font-family: sans-serif;
    font-size: 15px;
    margin-left:5px;
}

.button-click:hover{
    background: #000;
    cursor: pointer;
    transition: all 0.3s ease;
    background-position: center;
    background-image: linear-gradient(to right, black, black);
    background-repeat: no-repeat;
    background-position: left;
}

.button-click.img{
    color: white;
}

